<%- include("header") -%>
<h2>
    hey this is the new about page
</h2>

<p>
    bxkscgoiwdnpocjold jkdcnwdklcmdwc wjhbclkw clkejc';lepdwe <!-- 'wq`k[jkcbcemc';.'e;c;we;lc,' -->
</p>

<%- include("footer") -%>